<div class="book-summary">
<div id="book-search-input" role="search">
<input placeholder="Type to search" type="text"/>
</div>
<nav role="navigation">
<ul class="summary">
<li class="chapter active" data-level="1.1" data-path="./">
<a href="./">
            
                    
                    Introduction
            
                </a>
</li>
<li class="chapter" data-level="1.2" data-path="week01/">
<a href="week01/">
            
                    
                    一、Python基础
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.2.1" data-path="week01/1.html">
<a href="week01/1.html">
            
                    
                    1.1 Python安装和使用
            
                </a>
</li>
<li class="chapter" data-level="1.2.2" data-path="week01/2.html">
<a href="week01/2.html">
            
                    
                    1.2 Python基础语法
            
                </a>
</li>
<li class="chapter" data-level="1.2.3" data-path="week01/3.html">
<a href="week01/3.html">
            
                    
                    1.3 Python运算符
            
                </a>
</li>
<li class="chapter" data-level="1.2.4" data-path="week01/4.html">
<a href="week01/4.html">
            
                    
                    1.4 Python数据类型
            
                </a>
</li>
<li class="chapter" data-level="1.2.5" data-path="week01/5.html">
<a href="week01/5.html">
            
                    
                    1.5 Python分支结构
            
                </a>
</li>
<li class="chapter" data-level="1.2.6" data-path="week01/6.html">
<a href="week01/6.html">
            
                    
                    1.6 Python循环结构
            
                </a>
</li>
<li class="chapter" data-level="1.2.7" data-path="week01/7.html">
<a href="week01/7.html">
            
                    
                    1.7 Python函数
            
                </a>
</li>
<li class="chapter" data-level="1.2.8" data-path="week01/8.1.html">
<a href="week01/8.1.html">
            
                    
                    1.8 Python数据类型的操作
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.2.8.1" data-path="week01/8.1.html">
<a href="week01/8.1.html">
            
                    
                    1.8.1 Number数字
            
                </a>
</li>
<li class="chapter" data-level="1.2.8.2" data-path="week01/8.2.html">
<a href="week01/8.2.html">
            
                    
                    1.8.2 String字符串
            
                </a>
</li>
<li class="chapter" data-level="1.2.8.3" data-path="week01/8.3.html">
<a href="week01/8.3.html">
            
                    
                    1.8.3 List列表
            
                </a>
</li>
<li class="chapter" data-level="1.2.8.4" data-path="week01/8.4.html">
<a href="week01/8.4.html">
            
                    
                    1.8.4 Tuple元组
            
                </a>
</li>
<li class="chapter" data-level="1.2.8.5" data-path="week01/8.5.html">
<a href="week01/8.5.html">
            
                    
                    1.8.5 Sets集合
            
                </a>
</li>
<li class="chapter" data-level="1.2.8.6" data-path="week01/8.6.html">
<a href="week01/8.6.html">
            
                    
                    1.8.6 Dictionary字典
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.2.9" data-path="week01/9.html">
<a href="week01/9.html">
            
                    
                    1.9 Python文件操作
            
                </a>
</li>
<li class="chapter" data-level="1.2.10" data-path="week01/10.html">
<a href="week01/10.html">
            
                    
                    1.10 综合案例实战
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.3" data-path="week02/">
<a href="week02/">
            
                    
                    二、Python基础
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.3.1" data-path="week02/1.html">
<a href="week02/1.html">
            
                    
                    1.11 Python面向对象编程
            
                </a>
</li>
<li class="chapter" data-level="1.3.2" data-path="week02/2.html">
<a href="week02/2.html">
            
                    
                    1.12 Python中的异常处理
            
                </a>
</li>
<li class="chapter" data-level="1.3.3" data-path="week02/3.html">
<a href="week02/3.html">
            
                    
                    1.13 魔术方法、属性和迭代器
            
                </a>
</li>
<li class="chapter" data-level="1.3.4" data-path="week02/4.html">
<a href="week02/4.html">
            
                    
                    1.14 Python模块实战
            
                </a>
</li>
<li class="chapter" data-level="1.3.5" data-path="week02/5.html">
<a href="week02/5.html">
            
                    
                    1.15 MySQL数据库基础
            
                </a>
</li>
<li class="chapter" data-level="1.3.6" data-path="week02/6.html">
<a href="week02/6.html">
            
                    
                    1.16 Python的数据库支持
            
                </a>
</li>
<li class="chapter" data-level="1.3.7" data-path="week02/7.html">
<a href="week02/7.html">
            
                    
                    1.17 图形用户界面实战
            
                </a>
</li>
<li class="chapter" data-level="1.3.8" data-path="week02/8.html">
<a href="week02/8.html">
            
                    
                    1.18 阶段案例实战
            
                </a>
</li>
<li class="chapter" data-level="1.3.9" data-path="week02/10.html">
<a href="week02/10.html">
            
                    
                    1.19 Python扩展内容
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.4" data-path="week03/">
<a href="week03/">
            
                    
                    三、Web前端
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.4.1" data-path="week03/1.html">
<a href="week03/1.html">
            
                    
                    1.1 Web前端开发介绍
            
                </a>
</li>
<li class="chapter" data-level="1.4.2" data-path="week01/2.html">
<a href="week01/2.html">
            
                    
                    1.2 HTML基础语法
            
                </a>
</li>
<li class="chapter" data-level="1.4.3" data-path="week03/3.html">
<a href="week03/3.html">
            
                    
                    1.3 HTML常用标签介绍
            
                </a>
</li>
<li class="chapter" data-level="1.4.4" data-path="week03/4.html">
<a href="week03/4.html">
            
                    
                    1.4 CSS层叠样式表介绍
            
                </a>
</li>
<li class="chapter" data-level="1.4.5" data-path="week03/5.html">
<a href="week03/5.html">
            
                    
                    1.5 CSS的常用选择符
            
                </a>
</li>
<li class="chapter" data-level="1.4.6" data-path="week03/6.html">
<a href="week03/6.html">
            
                    
                    1.6 CSS常用属性
            
                </a>
</li>
<li class="chapter" data-level="1.4.7" data-path="week03/7.html">
<a href="week03/7.html">
            
                    
                    1.7 网页布局实战
            
                </a>
</li>
<li class="chapter" data-level="1.4.8" data-path="week03/8.html">
<a href="week03/8.html">
            
                    
                    1.8 JavaScript语言
            
                </a>
</li>
<li class="chapter" data-level="1.4.9" data-path="week03/9.html">
<a href="week03/9.html">
            
                    
                    1.9 jQuery
            
                </a>
</li>
<li class="chapter" data-level="1.4.10" data-path="week03/10.html">
<a href="week03/10.html">
            
                    
                    1.10 BootStrap案例实战
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.5" data-path="week04/">
<a href="week04/">
            
                    
                    四、Django框架
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.5.1" data-path="week04/1.html">
<a href="week04/1.html">
            
                    
                    2.1 Django框架介绍与安装
            
                </a>
</li>
<li class="chapter" data-level="1.5.2" data-path="week04/2.html">
<a href="week04/2.html">
            
                    
                    2.2 Django的快速入门
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.5.2.1" data-path="week04/2.1.html">
<a href="week04/2.1.html">
            
                    
                    第一步 项目的创建与运行
            
                </a>
</li>
<li class="chapter" data-level="1.5.2.2" data-path="week04/2.2.html">
<a href="week04/2.2.html">
            
                    
                    第二步 应用的创建和使用
            
                </a>
</li>
<li class="chapter" data-level="1.5.2.3" data-path="week04/2.3.html">
<a href="week04/2.3.html">
            
                    
                    第三步 项目的模型
            
                </a>
</li>
<li class="chapter" data-level="1.5.2.4" data-path="week04/2.4.html">
<a href="week04/2.4.html">
            
                    
                    第四步 启用网站admin管理
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.5.3" data-path="week04/3.html">
<a href="week04/3.html">
            
                    
                    2.3 Django的URL路由
            
                </a>
</li>
<li class="chapter" data-level="1.5.4" data-path="week04/4.html">
<a href="week04/4.html">
            
                    
                    2.4 Django的模型层
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.5.4.1" data-path="week04/4.1.html">
<a href="week04/4.1.html">
            
                    
                    ①. 定义模型
            
                </a>
</li>
<li class="chapter" data-level="1.5.4.2" data-path="week04/4.2.html">
<a href="week04/4.2.html">
            
                    
                    ②. 模型实例
            
                </a>
</li>
<li class="chapter" data-level="1.5.4.3" data-path="week04/4.3.html">
<a href="week04/4.3.html">
            
                    
                    ③. 模型查询
            
                </a>
</li>
<li class="chapter" data-level="1.5.4.4" data-path="week04/4.4.html">
<a href="week04/4.4.html">
            
                    
                    ④. 用户信息管理实战
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.5.5" data-path="week04/5.html">
<a href="week04/5.html">
            
                    
                    2.5 Django的视图层
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.5.5.1" data-path="week04/5.1.html">
<a href="week04/5.1.html">
            
                    
                    ①. HttpResponse对象
            
                </a>
</li>
<li class="chapter" data-level="1.5.5.2" data-path="week04/5.2.html">
<a href="week04/5.2.html">
            
                    
                    ②. HttpReqeust对象
            
                </a>
</li>
<li class="chapter" data-level="1.5.5.3" data-path="week04/5.3.html">
<a href="week04/5.3.html">
            
                    
                    ③. QueryDict对象
            
                </a>
</li>
<li class="chapter" data-level="1.5.5.4" data-path="week04/5.4.html">
<a href="week04/5.4.html">
            
                    
                    ④. 验证码实战
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.5.6" data-path="week04/6.html">
<a href="week04/6.html">
            
                    
                    2.6 Django的模板层
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.5.6.1" data-path="week04/6.1.html">
<a href="week04/6.1.html">
            
                    
                    ①. 模板语法
            
                </a>
</li>
<li class="chapter" data-level="1.5.6.2" data-path="week04/6.2.html">
<a href="week04/6.2.html">
            
                    
                    ②. 模板继承
            
                </a>
</li>
<li class="chapter" data-level="1.5.6.3" data-path="week04/6.3.html">
<a href="week04/6.3.html">
            
                    
                    ③. Ajax应用实战
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.5.7" data-path="week04/7.html">
<a href="week04/7.html">
            
                    
                    2.7 Django常用Web工具
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.5.7.1" data-path="week04/7.2.html">
<a href="week04/7.2.html">
            
                    
                    ①. 文件上传
            
                </a>
</li>
<li class="chapter" data-level="1.5.7.2" data-path="week04/7.3.html">
<a href="week04/7.3.html">
            
                    
                    ③. 富文本编辑器
            
                </a>
</li>
<li class="chapter" data-level="1.5.7.3" data-path="week04/7.4.html">
<a href="week04/7.4.html">
            
                    
                    ④. Django部署Apache
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.5.8" data-path="week04/8.html">
<a href="week04/8.html">
            
                    
                    2.8 Django的其他核心功能
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.5.8.1" data-path="week04/8.1.html">
<a href="week04/8.1.html">
            
                    
                    ①. 静态文件
            
                </a>
</li>
<li class="chapter" data-level="1.5.8.2" data-path="week04/8.2.html">
<a href="week04/8.2.html">
            
                    
                    ②. csrf
            
                </a>
</li>
<li class="chapter" data-level="1.5.8.3" data-path="week04/8.3.html">
<a href="week04/8.3.html">
            
                    
                    ③. 状态保持
            
                </a>
</li>
<li class="chapter" data-level="1.5.8.4" data-path="week04/8.4.html">
<a href="week04/8.4.html">
            
                    
                    ④. 中间件
            
                </a>
</li>
<li class="chapter" data-level="1.5.8.5" data-path="week04/8.5.html">
<a href="week04/8.5.html">
            
                    
                    ⑤. 密码管理
            
                </a>
</li>
</ul>
</li>
</ul>
</li>
<li class="chapter" data-level="1.6" data-path="week05/">
<a href="week05/">
            
                    
                    五、Django商城项目开发(上)
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.6.1" data-path="week05/1.html">
<a href="week05/1.html">
            
                    
                    1. 项目需求分析
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.6.1.1" data-path="week05/1.1.html">
<a href="week05/1.1.html">
            
                    
                    ①. 项目开发流程
            
                </a>
</li>
<li class="chapter" data-level="1.6.1.2" data-path="week05/1.2.html">
<a href="week05/1.2.html">
            
                    
                    ②. 商城项目需求分析
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.6.2" data-path="week05/2.html">
<a href="week05/2.html">
            
                    
                    2. 项目的数据库设计
            
                </a>
</li>
<li class="chapter" data-level="1.6.3" data-path="week05/3.html">
<a href="week05/3.html">
            
                    
                    3. 项目架构的程序设计
            
                </a>
</li>
<li class="chapter" data-level="1.6.4" data-path="week05/4.html">
<a href="week05/4.html">
            
                    
                    4. 基于Django框架的项目搭建
            
                </a>
</li>
<li class="chapter" data-level="1.6.5" data-path="week05/5.html">
<a href="week05/5.html">
            
                    
                    5. 项目实战后台之会员管理
            
                </a>
</li>
<li class="chapter" data-level="1.6.6" data-path="week05/6.html">
<a href="week05/6.html">
            
                    
                    6. 项目实战后台之管理员登陆与退出
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.6.6.1" data-path="week05/6.1.html">
<a href="week05/6.1.html">
            
                    
                    ①. 添加中间件
            
                </a>
</li>
<li class="chapter" data-level="1.6.6.2" data-path="week05/6.2.html">
<a href="week05/6.2.html">
            
                    
                    ②. 登录与退出
            
                </a>
</li>
<li class="chapter" data-level="1.6.6.3" data-path="week05/6.3.html">
<a href="week05/6.3.html">
            
                    
                    ③. 添加验证码
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.6.7" data-path="week05/7.html">
<a href="week05/7.html">
            
                    
                    7. 项目实战后台之商品类别信息管理
            
                </a>
</li>
<li class="chapter" data-level="1.6.8" data-path="week05/8.html">
<a href="week05/8.html">
            
                    
                    8. 项目实战后台之商品信息管理
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.6.8.1" data-path="week05/8.1.html">
<a href="week05/8.1.html">
            
                    
                    ①. 搜索分页浏览商品信息(附加)
            
                </a>
</li>
</ul>
</li>
</ul>
</li>
<li class="chapter" data-level="1.7" data-path="week06/">
<a href="week06/">
            
                    
                    六、Django商城项目开发(下)
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.7.1" data-path="week06/1.html">
<a href="week06/1.html">
            
                    
                    9. 项目实战前台搭建
            
                </a>
</li>
<li class="chapter" data-level="1.7.2" data-path="week06/2.html">
<a href="week06/2.html">
            
                    
                    10. 项目实战前台之会员注册与登陆
            
                </a>
</li>
<li class="chapter" data-level="1.7.3" data-path="week06/3.html">
<a href="week06/3.html">
            
                    
                    11. 项目实战前台之商品展示
            
                </a>
</li>
<li class="chapter" data-level="1.7.4" data-path="week06/4.html">
<a href="week06/4.html">
            
                    
                    12. 项目实战前台之购物车实战
            
                </a>
</li>
<li class="chapter" data-level="1.7.5" data-path="week06/5.html">
<a href="week06/5.html">
            
                    
                    13. 项目实战前台之下单操作
            
                </a>
</li>
<li class="chapter" data-level="1.7.6" data-path="week06/6.html">
<a href="week06/6.html">
            
                    
                    14. 项目实战前台之个人中心
            
                </a>
</li>
<li class="chapter" data-level="1.7.7" data-path="week06/7.html">
<a href="week06/7.html">
            
                    
                    15. 项目实战后台之订单处理
            
                </a>
</li>
<li class="chapter" data-level="1.7.8" data-path="week06/8.html">
<a href="week06/8.html">
            
                    
                    16. 项目实战总结
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.8" data-path="week07/">
<a href="week07/">
            
                    
                    七、Python网络爬虫基础(上)
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.8.1" data-path="week07/1.html">
<a href="week07/1.html">
            
                    
                    1. Python中的正则表达式
            
                </a>
</li>
<li class="chapter" data-level="1.8.2" data-path="week07/2.html">
<a href="week07/2.html">
            
                    
                    2. 正则表达式基础语法介绍
            
                </a>
</li>
<li class="chapter" data-level="1.8.3" data-path="week07/3.html">
<a href="week07/3.html">
            
                    
                    3. 正则表达式中的常用函数
            
                </a>
</li>
<li class="chapter" data-level="1.8.4" data-path="week07/4.html">
<a href="week07/4.html">
            
                    
                    4. 正则表达式的案例实战
            
                </a>
</li>
<li class="chapter" data-level="1.8.5" data-path="week07/5.html">
<a href="week07/5.html">
            
                    
                    5. 网络爬虫概述
            
                </a>
</li>
<li class="chapter" data-level="1.8.6" data-path="week07/6.html">
<a href="week07/6.html">
            
                    
                    6. 网络爬虫工作原理
            
                </a>
</li>
<li class="chapter" data-level="1.8.7" data-path="week07/7.html">
<a href="week07/7.html">
            
                    
                    7. 网络爬虫基础使用
            
                </a>
</li>
<li class="chapter" data-level="1.8.8" data-path="week07/8.html">
<a href="week07/8.html">
            
                    
                    8. 网络爬虫实战
            
                </a>
</li>
<li class="chapter" data-level="1.8.9" data-path="week07/9.html">
<a href="week07/9.html">
            
                    
                    9. 网络爬虫中的异常处理
            
                </a>
</li>
<li class="chapter" data-level="1.8.10" data-path="week07/10.html">
<a href="week07/10.html">
            
                    
                    10. Urllib3和requests的使用
            
                </a>
</li>
<li class="chapter" data-level="1.8.11" data-path="week07/11.html">
<a href="week07/11.html">
            
                    
                    11. GET请求爬取数据实战
            
                </a>
</li>
<li class="chapter" data-level="1.8.12" data-path="week07/12.html">
<a href="week07/12.html">
            
                    
                    12. POST请求爬取数据实战
            
                </a>
</li>
<li class="chapter" data-level="1.8.13" data-path="week07/13a.html">
<a href="week07/13a.html">
            
                    
                    13. 网络爬虫案例实战1
            
                </a>
</li>
<li class="chapter" data-level="1.8.14" data-path="week07/13b.html">
<a href="week07/13b.html">
            
                    
                    13. 网络爬虫案例实战2
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.9" data-path="week08/">
<a href="week08/">
            
                    
                    八、Python网络爬虫基础(下)
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.9.1" data-path="week08/1.html">
<a href="week08/1.html">
            
                    
                    14. 解析库的使用
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.9.1.1" data-path="week08/1.1.html">
<a href="week08/1.1.html">
            
                    
                    a. XPath的使用
            
                </a>
</li>
<li class="chapter" data-level="1.9.1.2" data-path="week08/1.2.html">
<a href="week08/1.2.html">
            
                    
                    b. Beautiful Soup的使用
            
                </a>
</li>
<li class="chapter" data-level="1.9.1.3" data-path="week08/1.3.html">
<a href="week08/1.3.html">
            
                    
                    c. pyquery的使用
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.9.2" data-path="week08/2.html">
<a href="week08/2.html">
            
                    
                    15. 豆瓣电影Top250信息爬取实战
            
                </a>
</li>
<li class="chapter" data-level="1.9.3" data-path="week08/3.html">
<a href="week08/3.html">
            
                    
                    16. 图片信息爬取实战
            
                </a>
</li>
<li class="chapter" data-level="1.9.4" data-path="week08/4.html">
<a href="week08/4.html">
            
                    
                    17. Fiddler抓包工具
            
                </a>
</li>
<li class="chapter" data-level="1.9.5" data-path="week08/5.html">
<a href="week08/5.html">
            
                    
                    18. 浏览器伪装技术实战
            
                </a>
</li>
<li class="chapter" data-level="1.9.6" data-path="week08/6.html">
<a href="week08/6.html">
            
                    
                    19. Ajax信息爬取实战
            
                </a>
</li>
<li class="chapter" data-level="1.9.7" data-path="week08/7.html">
<a href="week08/7.html">
            
                    
                    20. 验证码信息识别
            
                </a>
</li>
<li class="chapter" data-level="1.9.8" data-path="week08/8.html">
<a href="week08/8.html">
            
                    
                    21. 网络爬虫阶段案例实战
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.10" data-path="week09/">
<a href="week09/">
            
                    
                    九、Python网络爬虫进阶实战(上)
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.10.1" data-path="week09/1.html">
<a href="week09/1.html">
            
                    
                    1. Scrapy框架介绍与安装
            
                </a>
</li>
<li class="chapter" data-level="1.10.2" data-path="week09/2.html">
<a href="week09/2.html">
            
                    
                    2. Scrapy框架的使用
            
                </a>
</li>
<li class="chapter" data-level="1.10.3" data-path="week09/3.html">
<a href="week09/3.html">
            
                    
                    3. Selector选择器
            
                </a>
</li>
<li class="chapter" data-level="1.10.4" data-path="week09/4.html">
<a href="week09/4.html">
            
                    
                    4. Spider的使用
            
                </a>
</li>
<li class="chapter" data-level="1.10.5" data-path="week09/5.html">
<a href="week09/5.html">
            
                    
                    5. Downloader Middleware的使用
            
                </a>
</li>
<li class="chapter" data-level="1.10.6" data-path="week09/6.html">
<a href="week09/6.html">
            
                    
                    6. Spider Middleware的使用
            
                </a>
</li>
<li class="chapter" data-level="1.10.7" data-path="week09/7.html">
<a href="week09/7.html">
            
                    
                    7. ItemPipeline的使用
            
                </a>
</li>
<li class="chapter" data-level="1.10.8" data-path="week09/8.html">
<a href="week09/8.html">
            
                    
                    8. Scrapy爬虫案例实战
            
                </a>
</li>
<li class="chapter" data-level="1.10.9" data-path="week09/10.html">
<a href="week09/10.html">
            
                    
                    9. Scrapy扩展
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.11" data-path="week10/">
<a href="week10/">
            
                    
                    十、Python网络爬虫进阶实战(中)
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.11.1" data-path="week10/1.html">
<a href="week10/1.html">
            
                    
                    09. Selenium的使用
            
                </a>
</li>
<li class="chapter" data-level="1.11.2" data-path="week10/2.html">
<a href="week10/2.html">
            
                    
                    10. Selenium爬取淘宝商品
            
                </a>
</li>
<li class="chapter" data-level="1.11.3" data-path="week10/3.html">
<a href="week10/3.html">
            
                    
                    11. MongoDB数据库
            
                </a>
</li>
<li class="chapter" data-level="1.11.4" data-path="week10/4.html">
<a href="week10/4.html">
            
                    
                    12. Scrapy框架使用Selenium
            
                </a>
</li>
<li class="chapter" data-level="1.11.5" data-path="week10/5.html">
<a href="week10/5.html">
            
                    
                    13. 代理的使用
            
                </a>
</li>
<li class="chapter" data-level="1.11.6" data-path="week10/6.html">
<a href="week10/6.html">
            
                    
                    14. 使用代理爬取信息实战
            
                </a>
</li>
<li class="chapter" data-level="1.11.7" data-path="week10/7.html">
<a href="week10/7.html">
            
                    
                    15. Redis数据库
            
                </a>
</li>
<li class="chapter" data-level="1.11.8" data-path="week10/8.html">
<a href="week10/8.html">
            
                    
                    16. 分布式爬虫原理
            
                </a>
</li>
<li class="chapter" data-level="1.11.9" data-path="week10/9.html">
<a href="week10/9.html">
            
                    
                    17. Scrapy分布式实战
            
                </a>
</li>
</ul>
</li>
<li class="chapter" data-level="1.12" data-path="week11/">
<a href="week11/">
            
                    
                    十一、Python网络爬虫进阶实战(下)
            
                </a>
<ul class="articles">
<li class="chapter" data-level="1.12.1" data-path="week11/1.html">
<a href="week11/1.html">
            
                    
                    18. App的信息爬取
            
                </a>
</li>
<li class="chapter" data-level="1.12.2" data-path="week11/2.html">
<a href="week11/2.html">
            
                    
                    19. mitmproxy的使用
            
                </a>
</li>
<li class="chapter" data-level="1.12.3" data-path="week11/3.html">
<a href="week11/3.html">
            
                    
                    20. App信息抓取实战
            
                </a>
</li>
<li class="chapter" data-level="1.12.4" data-path="week11/4.html">
<a href="week11/4.html">
            
                    
                    21. 从API爬取天气预报数据
            
                </a>
</li>
<li class="chapter" data-level="1.12.5" data-path="week11/5.html">
<a href="week11/5.html">
            
                    
                    22. 滑动验证码的识别
            
                </a>
</li>
<li class="chapter" data-level="1.12.6" data-path="week11/6.html">
<a href="week11/6.html">
            
                    
                    23. 爬虫项目需求分析
            
                </a>
</li>
<li class="chapter" data-level="1.12.7" data-path="week11/7.html">
<a href="week11/7.html">
            
                    
                    24. 爬虫项目架构设计
            
                </a>
</li>
<li class="chapter" data-level="1.12.8" data-path="week11/8.html">
<a href="week11/8.html">
            
                    
                    25. 爬虫项目的代码实现
            
                </a>
</li>
<li class="chapter" data-level="1.12.9" data-path="week11/9.html">
<a href="week11/9.html">
            
                    
                    26. 使用web展示爬取信息
            
                </a>
</li>
</ul>
</li>
<li class="divider"></li>
<li>
<a class="gitbook-link" href="https://www.gitbook.com" target="blank">
            Published with GitBook
        </a>
</li>
</ul>
</nav>
</div>